@{
    var loggedIn = User.Identity.IsAuthenticated;
}

@if(loggedIn)
{
    <li class="nav-item">
        <span class="nav-link text-danger" asp-area="" asp-controller="Identity">@User.Identity.Name - @User.Claims.FirstOrDefault(c => c.Type == "Department")</span>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Signout">Sign Out</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Signin">Sign In</a>
    </li>
}
