@{
    ViewData["Title"] = "Home Page";
}
@model List<Post>

<div class="text-center">
    <h1 class="display-4">Posts</h1>
    @foreach(var post in Model)
    {
        <div class="card text-center mb-3">
            <div class="card-header">
                @post.Title
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">@post.Content</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                @post.CreatedAt
            </div>
        </div>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
